#home-hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 65vh;
}

#home-hero-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: var(--gap-column-standard);
  padding-right: 5rem;
}

#home-hero-info h1 {
  text-transform: capitalize;
}

#home-hero-image {
  width: 500px;
  height: auto;
  justify-self: flex-end;
  align-self: flex-start;
  z-index: 5;
}

#home-hero-visual {
  position: relative;
  display: flex;
  flex-direction: column;
}

#home-hero-visual::after {
  content: "";
  top: -20%;
  right: -20%;
  position: absolute;
  height: 120%;
  width: 120%;
  background: var(--color-compliment)
}
