#home-stat-banner {
  background: var(--color-primary-dark);
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--banner-height);
  z-index: 999;
}

#home-stat-banner-container * {
  color: var(--color-background);
}

#home-stat-banner-container {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 6rem;
}

.banner-stat {
  height: var(--banner-height);
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.banner-stat-icon {
  width: 3rem;
}

/*#region---------------------------------------------- BREAKPOINTS ----------------------------------------------*/

/* X-Large Devices */
@media screen and (min-width: 2160px) {
}

/* Large Devices */
@media screen and (max-width: 1500px) {
}

@media screen and (max-width: 1200px) {
}

/* Medium Devices */
@media screen and (max-width: 992px) {
  .banner-stat-icon {
    width: 2.75rem;
  }

  #home-stat-banner-container {
    gap: 4rem;
  }
}

@media screen and (max-width: 768px) {
  .banner-stat-icon {
    width: 2.25rem;
  }

  #home-stat-banner-container {
    gap: 1rem;
  }

  .banner-stat {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}

@media screen and (max-width: 576px) {
  .banner-stat-icon {
    width: 2.2rem;
  }

  #home-stat-banner {
    height: auto;
  }

  #home-stat-banner-container {
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .banner-stat {
    height: initial;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    width: auto;
    justify-content: flex-start;
  }
}

/* Small Devices */
@media screen and (max-width: 350px) {
}
/*#endregion */
