/*#region ----------------------------------------------- VARIABLES -----------------------------------------------*/
:root {
  /*#region Fonts */
  --font-family-main: "Mulish", sans-serif;
  --font-family-secondary: "Domine", serif;
  /*#endregion*/

  /*#region Colors*/
  --color-background: #f3f0e7;
  --color-body: #162138;
  --color-primary: #005270;
  --color-primary-dark: #023655;
  --color-secondary: #007056;
  --color-compliment: #c1a050;
  --color-secondary-hover: #045c47;
  --color-white: #fff;
  /*#endregion*/

  /*#region Font Sizes */
  --h1-font-size: 3.5rem;
  --h1-hero-font-size: 3.8rem;
  --h2-font-size: 3rem;
  --h3-font-size: 2.75rem;
  --h4-font-size: 2rem;
  --h5-font-size: 1.45rem;
  --p-font-size: 1.1rem;
  --button-font-size: 1.5rem;
  --button-small-font-size: 1.25rem;
  --verse-font-size: 2rem;
  /*#endregion*/

  /*#region Container Values*/
  --container-width: 1300px;
  --container-margin: auto;
  --container-wide-margin: 6rem;
  --section-padding: 9rem;
  --section-narrow-padding: 2rem;
  --section-padding-x: 3rem;
  /*#endregion */

  /*#region Gap Values */
  --gap-column-standard: 0.75rem;
  /*#endregion */

  /*#region Banner Values */
  --banner-height: 14rem;
  --banner-padding: 1rem;
  /*#endregion */

  /*# Line Spacing */
  --h2-line-height: 4rem;

  --small-icon-width: 3.5rem;
}
/*#endregion*/

/*#region ------------------------------------------------- BASE -------------------------------------------------*/
* {
  box-sizing: border-box;
}

body {
  max-height: 1000px;
}

p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  line-height: 1.75rem;
}

body {
  color: var(--color-body);
  background-color: var(--color-background);
  margin: 0;
  text-align: left;
  font-size: var(--p-font-size);
  font-family: var(--font-family-main);
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 600;
  font-family: var(--font-family-secondary);
  color: var(--color-primary-dark);
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

h1 {
  text-transform: uppercase;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: var(--h1-font-size);
  font-weight: 600;
}

h2 {
  font-size: var(--h2-font-size);
  line-height: var(--h2-line-height);
  font-weight: 700;
}

h3 {
  font-size: var(--h3-font-size);
}

h4 {
  font-size: var(--h4-font-size);
}

h5 {
  font-size: var(--h5-font-size);
  font-weight: 500;
  line-height: 2.5rem;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: var(--color-primary);
}
/*#endregion*/

/*---------------------------------------------------- CLASSES ----------------------------------------------------*/

/*#region Layout */
.container {
  max-width: var(--container-width);
  margin-left: var(--container-margin);
  margin-right: var(--container-margin);
}

.container-wide {
  margin-left: var(--container-wide-margin);
  margin-right: var(--container-wide-margin);
}

.section {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  padding-right: var(--section-padding-x);
  padding-left: var(--section-padding-x);
  overflow-x: hidden;
}

.section-narrow {
  padding-top: var(--section-narrow-padding);
  padding-bottom: var(--section-narrow-padding);
  padding-right: var(--section-padding-x);
  padding-left: var(--section-padding-x);
  overflow-x: hidden;
}

.verse {
  font-size: var(--verse-font-size);
}

.small-icon {
  width: var(--small-icon-width);
  height: auto;
  object-fit: contain;
}

/*#endregion*/

/*#reusable classes */
.button {
  font-size: var(--button-font-size);
  background: var(--color-compliment);
  color: var(--color-background);
  font-weight: 500;
  padding: 0.9rem 2.7rem 0.9rem 2.7rem;
  border-radius: 999px;
}

.button-small {
  font-size: var(--button-small-font-size);
  background-color: var(--color-compliment);
  display: flex;
  font-weight: 500;
  width: 6rem;
  height: 2.5rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 999px;
  color: var(--color-background);
}

/*---------------------------------------------------- BREAKPOINTS ----------------------------------------------------*/

/* X-Large Devices */
@media screen and (min-width: 2160px) {
  :root {
    --container-width: 1920px;
  }
}

/* Large Devices */

@media screen and (max-width: 1500px) {
  /*#region Font Sizes */
  :root {
    --h1-hero-font-size: 3.4rem;
  }
  /*#endregion*/
}

@media screen and (max-width: 1200px) {
  /*#region Font Sizes */
  :root {
    --h1-font-size: 3rem;
    --h5-font-size: 1.3rem;
    --h1-hero-font-size: 3.1rem;
    --container-wide-margin: 4rem;
  }
  /*#endregion*/

  /*#reusable classes */
  .button {
    padding: 0.65rem 2.5rem 0.65rem 2.5rem;
    border-radius: 999px;
  }
}

/* Medium Devices */
@media screen and (max-width: 992px) {
  /*#region Font Sizes */
  :root {
    --h1-font-size: 2.9rem;
    --h1-hero-font-size: 3.2rem;
    --h2-font-size: 2.5rem;
    --h3-font-size: 2.25rem;
    --h4-font-size: 1.5rem;
    --h5-font-size: 1.15rem;
    --p-font-size: 0.85rem;

    /*#region Container Values*/
    --container-width: 850px;
    --container-wide-margin: 3rem;
    --section-padding: 5rem;
    /*#endregion */

    --small-icon-width: 2.5rem;
  }
  /*#endregion*/
}

@media screen and (max-width: 768px) {
  /*#region Font Sizes */
  :root {
    --h1-font-size: 2.75rem;
    --h1-hero-font-size: 3.1rem;
    --h2-font-size: 2.2rem;
    --h3-font-size: 1.8rem;
    --h4-font-size: 1.25rem;
    --h5-font-size: 1rem;
    --p-font-size: 0.85rem;

    --container-width: 725px;
  }
  /*#endregion*/

  .container {
    max-width: none;
    margin-left: var(--container-margin);
    margin-right: var(--container-margin);
  }

  body {
    margin: 0 0 0 0;
  }
}

@media screen and (max-width: 576px) {
  /*#region Font Sizes */
  :root {
    --h1-font-size: 2.5rem;
    --h1-hero-font-size: 3rem;
    --h2-font-size: 1.8rem;
    --h3-font-size: 2.4rem;
    --h4-font-size: 1.2rem;
    --h5-font-size: 1rem;
    --p-font-size: 0.85rem;

    --container-margin: 0rem;
    --container-wide-margin: 1rem;
    --section-padding-x: 3rem;

    --button-font-size: 1.2rem;
  }
  /*#endregion*/
}

/* Small Devices */
@media screen and (max-width: 350px) {
  /*#region Font Sizes */
  :root {
    --h1-font-size: 2rem;
    --h1-hero-font-size: 2.75rem;
    --h2-font-size: 1.6rem;
    --h3-font-size: 2.2rem;
    --h4-font-size: 1.1rem;
    --h5-font-size: 1rem;

    --container-wide-margin: 1rem;
    --section-padding: 8rem;
    --section-padding-x: 2rem;

    --h2-line-height: 3rem;
  }
  /*#endregion*/

  body {
    margin-bottom: 0px;
  }
}
